body {
    background-color: rgb(44, 47, 71);
}
a {
    text-decoration: none;
}
fieldset {
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px; 
    margin-top: -225px;
    background-color: rgb(116, 119, 139);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    outline: 0px;

}
legend {     background-color: rgb(116, 119, 139);
padding: 5px;
border: 1px solid white;
border-bottom: 0px solid white;
border-radius: 13px;
}

input,select {
    margin: 10px 20px;
    height: 30pt;
    width: 50%;
}
input[type="submit"] {
    width: 250px;
    margin-left: 150px;
    margin-right: 150px;
    font-variant: small-caps;
    background-color: rgb(116, 147, 168);
    outline: 0px;
    border: 1px solid white;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: rgb(147, 177, 197);
}
.wrapper {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100vh;
    justify-content: space-evenly;	
    align-items: center;
    justify-items: center; /* adjusted */



}

.panel {
    background-color: rgb(80, 156, 99);
    color: rgb(217, 243, 229);
    border: 2px dotted rgb(217, 243, 229);
    padding: 70px;
    border-radius: 100px;
}
.panel:hover {
    background-color: rgb(57, 121, 73);
    border: 2px dotted rgb(189, 218, 203);
}

.back {
    background-color: rgb(116, 119, 139);
    padding: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.back:hover {
    background-color: rgb(152, 156, 180);

}

.info {
    background-color: rgb(116, 119, 139);
    padding: 5px;
    width: 300px;
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

a.back {
position: absolute;
right: 10px;
top: 10px;
padding: 10px;
width: auto;
}